.navbar {
  display: block;
  background-color: #157db9;
  box-shadow: 5px 5px 13px 0 #000;
  color: #f53030;
  font-size: 16px;
}

.collection-list {
  display: block;
}

/* iframe 
{
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
} */


/* html 
{
 overflow: auto;
}
  */
/* html, body, div, iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 100%; 
 border: none;
} */